# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
pd.read_csv(url, sep = '\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [5]:
#Primero temos que observar que o tipo das informações contidas na coluna item_price é object
#Para trabalhar com as informações dessa coluna corretamente temos que convertê-la para o tipo float
chipo['item_price'].dtype

dtype('O')

In [6]:
#Usando uma função lamda para substituir o $ por um espaço vazio
chipo['item_price'] = chipo['item_price'].apply(lambda x: str(x).replace("$", " "))

In [7]:
#Convertendo a coluna item_price para float
chipo['item_price'] = chipo['item_price'].astype('float64')

In [8]:
#Observamos se a coluna foi convertida com sucesso
chipo['item_price'].dtype

dtype('float64')

In [10]:
#Remover as repetições com o objetivo de contar apenas um único produto de cada
# A função .drop_duplicates - de acordo com a documentação do pandas - retornar o DataFrame removendo as linhas duplicadas
remove_repeticoes = chipo.drop_duplicates(['item_name','quantity'])

In [11]:
#Utilizando dados com uma quantidade
#Nesses dados temos no item_price o preço de um único produto
produto_unico = remove_repeticoes[remove_repeticoes.quantity == 1]

In [12]:
#Solicitando quantos produtos custam mais de $10.00
#A função .nunique() - de acordo com a documentação do pandas - conta observações distinhas sobre o eixo solicitado
produto_unico[produto_unico['item_price'] > 10].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [34]:
#Removendo as repetições com o objetivo de trabalhar com apenas um único produto de cada
remove_repeticoes = chipo.drop_duplicates(['item_name','quantity'])

In [35]:
#Usando dados com quantidade igual a 1.
#Nesses dados temos no item_price o preço de um único produto
produto_unico = remove_repeticoes[remove_repeticoes.quantity == 1]

In [36]:
#Adicionando apenas as colunas item_name e item_price
price_of_each_item = produto_unico[['item_name', 'item_price']]

In [45]:
#Solicitando uma tabela com a coluna item_name em ordem alfabética
price_of_each_item.sort_values(by = "item_name")

                                  item_name  item_price
298                       6 Pack Soft Drink        6.49
39                            Barbacoa Bowl       11.75
21                         Barbacoa Burrito        8.99
168                   Barbacoa Crispy Tacos       11.75
1229                    Barbacoa Salad Bowl       11.89
56                      Barbacoa Soft Tacos        9.25
34                            Bottled Water        1.09
673                                    Bowl        7.40
510                                 Burrito        7.40
28                              Canned Soda        1.09
263                       Canned Soft Drink        1.25
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
554                   Carnitas Crispy Tacos        9.25
3750                         Carnitas Salad        8.99
1132                    Carnitas Salad Bowl       11.89
237                     Carnitas Soft Tacos        9.25
5                              Chicken Bowl       10.98
16                          Chicken Burrito        8.49
11                     Chicken Crispy Tacos        8.75
250                           Chicken Salad       10.98
44                       Chicken Salad Bowl        8.75
12                       Chicken Soft Tacos        8.75
40                                    Chips        2.15
0              Chips and Fresh Tomato Salsa        2.39
10                      Chips and Guacamole        4.45
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
191      Chips and Roasted Chili-Corn Salsa        2.39
38    Chips and Tomatillo Green Chili Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
520                            Crispy Tacos        7.40
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
1414                                  Salad        7.40
6                             Side of Chips        1.69
54                               Steak Bowl        8.99
7                             Steak Burrito       11.75
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
606                        Steak Salad Bowl       11.89
8                          Steak Soft Tacos        9.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25

In [46]:
#Solicitando uma tabela com a coluna item_price em ordem crescente
price_of_each_item.sort_values(by = "item_price")

                                  item_name  item_price
34                            Bottled Water        1.09
28                              Canned Soda        1.09
263                       Canned Soft Drink        1.25
6                             Side of Chips        1.69
40                                    Chips        2.15
0              Chips and Fresh Tomato Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
38    Chips and Tomatillo Green Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
674       Chips and Mild Fresh Tomato Salsa        3.00
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
10                      Chips and Guacamole        4.45
298                       6 Pack Soft Drink        6.49
1414                                  Salad        7.40
510                                 Burrito        7.40
673                                    Bowl        7.40
520                            Crispy Tacos        7.40
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
44                       Chicken Salad Bowl        8.75
12                       Chicken Soft Tacos        8.75
11                     Chicken Crispy Tacos        8.75
664                             Steak Salad        8.99
3750                         Carnitas Salad        8.99
54                               Steak Bowl        8.99
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
21                         Barbacoa Burrito        8.99
92                       Steak Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
8                          Steak Soft Tacos        9.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
606                        Steak Salad Bowl       11.89

### Step 6. Sort by the name of the item

In [16]:
#Colocando a coluna item_name em ordem alfabética
chipo['item_name'].sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [48]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [112]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18.0

### Step 9. How many times did someone order more than one Canned Soda?

In [12]:
(chipo[chipo.item_name == 'Canned Soda'].quantity > 1).sum()

20